<div class="condense-page">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">New instance</h1>
            <div class="col-md-8 col-md-offset-2">
                <h2>Hostname <small>Something memorable I hope.</small></h2>
                <input type="text" class="form-control" ng-model="hostname"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Description <small>Something to remember this instance.</small></h2>
                <input type="text" class="form-control" ng-model="description"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-2">
                <div class="instance-type" ng-class="{'instance-type-active': isSelectedInstanceType('t2.micro')}" ng-click="setSelectedInstanceType('t2.micro')">
                    <h3 class="text-center">t2.micro</h3>
                    <ul>
                        <li>1GB RAM</li>
                        <li>1 Core</li>
                        <li>$0.013/hr</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="instance-type" ng-class="{'instance-type-active': isSelectedInstanceType('t2.small')}" ng-click="setSelectedInstanceType('t2.small')">
                    <h3 class="text-center">t2.small</h3>
                    <ul>
                        <li>2GB RAM</li>
                        <li>1 Core</li>
                        <li>$0.026/hr</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-2">
                <div class="instance-type" ng-class="{'instance-type-active': isAnsibleTask('base')}" ng-click="setAnsibleTask('base')">
                    <h3 class="text-center">Base</h3>
                    <ul>
                        <li>Amazon Linux 2015.03</li>
                        <li>LDAP Auth</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="instance-type" ng-class="{'instance-type-active': isAnsibleTask('accountportal')}" ng-click="setAnsibleTask('accountportal')">
                    <h3 class="text-center">Account Portal</h3>
                    <ul>
                        <li>Base</li>
                        <li>Account Portal</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5 center-block">
                <button class="btn btn-lg btn-primary"
                        ng-click="condense_instance()"
                        ng-class="{'disabled': disableCondenseButton}">Create Instance</button>
            </div>
        </div>
    </div>
</div>

