<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4 class="text-center">You've spent ${{ user_cost.total_cost | number : 2}} this month.</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>State</th>
                <th>Instance Type</th>
                <th>Launch Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="instance in instances">
                <td><a href="/instance/{{ instance.instance_id }}">{{ instance.tags.hostname }}</a></td>
                <td>{{ instance.state }}</td>
                <td>{{ instance.instance_type }}</td>
                <td>{{ instance.launch_time  }}</td>
            </tr>
        </tbody>
    </table>
</div>